mock_runs*/
test_*/
__pycache__/
*.vtk
*.fsm
*.csv
loads.txt
fs_log.txt
fs_stdout.txt
results.txt
run_info.txt
_old/

# file di esempio per il tagging in HEEDS: vanno nel repo nonostante 'results.txt' qui sopra
!heeds_inputs/*/results.txt
